doctype html
html(lang='en')
  head
    title Chat
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/socket.io/socket.io.js')
    script(src='/jquery.min.js', type='text/javascript')
    script(src='/js/bootstrap.min.js')
    
    body(class='container')
          div.row
            div.col-md-4
                h3 Users
                div#users.list-group
            div.col-md-8
                h3#roomName
                textarea#messages.form-control(rows=15)
                h3 Post A Message
                textarea#message.form-control(rows=2)
                button.btn.btn-primary#post Post
            
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-body.text-center
            input#user(type='text', placeholder='Enter the user Name')
            button#bt.btn.btn-primary submit
    script(src='./client.js')
